<?xml version="1.0" encoding="utf-8"?>
<TestListeners xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Quintity.TestFramework.Core">
  <TestListener>
    <Name>Scratch test Listener1</Name>
    <Description>This is the first scratch test listener</Description>
    <Status>Inactive</Status>
    <OnFailure>Continue</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.Scratch.dll</Assembly>
    <Type>Quintity.TestFramework.Scratch.ScratchListener1</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestOutput</d3p1:Key>
        <d3p1:Value>[TestOutput]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestResults</d3p1:Key>
        <d3p1:Value>[TestResults]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestConfigs</d3p1:Key>
        <d3p1:Value>[TestConfigs]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestHome</d3p1:Key>
        <d3p1:Value>[TestHome]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestAssemblies</d3p1:Key>
        <d3p1:Value>[TestAssemblies]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
    </Parameters>
  </TestListener>
  <TestListener>
    <Name>Scratch test Listener2</Name>
    <Description>This is the second scratch test listener</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.Scratch.dll</Assembly>
    <Type>Quintity.TestFramework.Scratch.ScratchListener2</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  </TestListener>
  <TestListener>
    <Name>Scratch test Listener3</Name>
    <Description>This is the third scratch test listener</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.Scratch.dll</Assembly>
    <Type>Quintity.TestFramework.Scratch.ScratchListener3</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  </TestListener>
  <TestListener>
    <Name>Scratch test Listener4</Name>
    <Description>This is the fourth scratch test listener</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.Scratch.dll</Assembly>
    <Type>Quintity.TestFramework.Scratch.ScratchListener4</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  </TestListener>
  <TestListener>
    <Name>Text file listener</Name>
    <Description>Writes test results to a text file.</Description>
    <Status>Inactive</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.TestListener.TextFile.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.TextFile.TextFileListener</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestResults</d3p1:Key>
        <d3p1:Value>[TestResults]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
    </Parameters>
  </TestListener>
  <TestListener>
    <Name>Performance listener</Name>
    <Description>Performance listener</Description>
    <Status>Active</Status>
    <OnFailure>Stop</OnFailure>
    <Assembly>C:\DevProjects\Quintity\Quintity.TestFramework\Quintity.TestFramework - Trunk\Quintity.TestFramework.ListenersService.Test\bin\Debug\Quintity.TestFramework.TestListener.Performance.dll</Assembly>
    <Type>Quintity.TestFramework.TestListener.Performance.PerformanceFile</Type>
    <Parameters xmlns:d3p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
      <d3p1:KeyValueOfstringstring>
        <d3p1:Key>TestResults</d3p1:Key>
        <d3p1:Value>[TestResults]</d3p1:Value>
      </d3p1:KeyValueOfstringstring>
    </Parameters>
  </TestListener>
</TestListeners>